.delete_genre{
    max-height: 400px;
    max-width: 700px;
    overflow: auto;
}

.films_row{
    width:200px; 
    margin:auto; 
    display:inline-block; 
    vertical-align: middle;
}

.films_row_Actores{ 
    display:inline-block; 
    vertical-align: middle;
    margin-bottom: 55px;
}

.thumbnail{
    width:150px; 
    height:278px;
}

.thumbnail_Actores{
    width:100px; 
    height:278px;

}

.caption{
    text-align:center;
}

.table-striped{
    margin-top: 40px;
}

.panel-default{
    margin-top: 20px;
}

.boton_pelicula{
    margin-top: 20px;
}

.row_peliculas{
    text-align:center; 
    margin-top:10px;
}

.row_actores{
    margin-top: 10px;
}

.actors_row{
    width:200px; 
    margin:auto; 
    display:inline-block; 
    vertical-align: middle;
}

.form_usuario{
    padding-top:15px
}

.row_usuarios{
    text-align:center; 
    margin-top:15px;
}

.table-hover{
    text-align: center;
}

.col_usuario{
    float:left;
     margin-left: 15px;
}

.colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

#right-column {
    float: right;
    width: 180px;
}

.z-movie {
    position: relative;
}

.margin-ntabs {
    position: relative;
}

ul.ntabs {
    padding: 0;
    margin: 0;
    list-style: none;
    border-bottom: 1px solid #4682B4;
    font-size: 14px;
}

.z-movie #right-column {
    float: right;
    width: 180px;
    margin-top: 8px;
}

.z-movie #right-column #movie-main-image-container {
    padding: 0px;
    margin: 0px;
    display: inline-block;
    width: 180px;
    text-align: center;
}

.z-movie #left-column {
    width: 638px;
    padding: 0px;
    margin: 0px;
}

.z-movie #left-column .movie-info {
    position: relative;
    padding: 0;
    margin: 0;
}

.z-movie #left-column .movie-info dt {
    position: absolute;
    width: 100px;
    text-align: right;
    color: #777777;
    margin-top: 1px;
}

.z-movie #left-column .movie-info dd {
    margin-top: 8px;
    margin-right: 5px;
    margin-bottom: 8px;
    margin-left: 115px;
    color: #333333;
    font-size: 14px;
    line-height: 18px;
}

.peliculas_genero{
    font-size: xx-large;
    font-weight: normal;
}

.formulario_peli{
    margin-left: 30px;
}

.dropdown-menu{
    min-width: 200px;
    width: 700px;
}


